/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__eisenhower-matrix {
  width: 100%;
}

.header__info-link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .header {
    text-align: center;
  }
}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task-container,
.task-container_edit {
  display: flex;
}

.task-container__task-label,
.task-container__task-input {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.task-container__task-input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.completed-tasks-list,
.incomplete-tasks-list {
  margin: 0;
  padding: 0px;
}

.incomplete-tasks-list__item,
.completed-tasks-list__item,
.section-heading {
  list-style: none;
}

.task-container__task-input,
.button {
  outline: none;
}

.button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.button:hover {
  color: #3a3a3a;
}

/* Heading */
.section-heading,
.new-task-heading {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.task-container__task-input {
  color: #333;
}

/* New Task */
.new-task-heading {
  display: block;
  margin: 0 0 20px;
}

.new-task-input {
  width: 318px;
}

/* Task list */
.incomplete-tasks-list__item,
.completed-tasks-list__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  justify-content: space-between;
  align-items: center;
}

.task-container__task-checkbox {
  margin: 0 10px;
}

.task-container__task-label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
  vertical-align: middle;
}

.task-container__button-delete__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.task-container__button-delete__img:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed-tasks-list .task-container__task-label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task-container__task-input_hidden {
  display: none;
}

.task-container_edit .task-container__task-label {
  display: none;
}